# build directories
build*/
__pycache__

# Temporary testing files
tst/test_log.txt

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp
Lorene

# local convenience symlink to the sibling bns_nurates checkout
/bns_nurates
# bns_nurates
src/bns_nurates/

# python cache
